################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FactoryMethod/bin/Debug/netcoreapp3.1
/FactoryMethod/obj
/AbstractFactory/bin/Debug/netcoreapp3.1
/AbstractFactory/obj
/.vs/DesignPatterns/v16/.suo
